@import "../../styles/mixins";
@import "../../styles/palette";
@import "../../styles/extends";

.sort-item {
  @extend %link;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0 20px;
  @include font($color: var(--main-background), $size: 15px);
  user-select: none;
}
