:root[data-theme="light"] {
  --main-background: #fefefe;
  --svg-icon: #202020;
  --tree-btn: #fefefe;
  --active-page: #e8e8e8;
  --border-line: rgba(213,213,213,.7);
  --dark-gray: #151515;
  --mid-gray: #f7f7f7;
  --lite-gray: #9e9d9d;
  --type-background: #e5e5e5;
  --button-background: rgba(147,147,147,.6);
  --popup-background: rgba(32,32,32,.9);
  --white: #202020;
}

:root[data-theme="dark"] {
  --main-background: #202020;
  --svg-icon: #fefefe;
  --tree-btn: #202020;
  --active-page: #2F2F2F;
  --border-line: rgba(84,84,84,.7);
  --dark-gray: #151515;
  --mid-gray: #2F2F2F;
  --lite-gray: #9e9d9d;
  --type-background: #636363;
  --button-background: rgba(47,47,47,.6);
  --popup-background: rgba(32,32,32,.9);
  --white: #fff;
}
