@import "../../styles/extends";

.card-list {
  @extend %ul;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill,minmax(290px,1fr));

  @media screen and (max-width: 650px) {
    & {
      grid-template-columns: 1fr;
    }
  }
}
