@import "../../styles/extends";

.main {
  @extend %main-blocks;
  max-width: 1280px;
  @extend %flex-column;
  gap: 20px;
  margin-top: 70px;
  margin-bottom: 83px;


  @media screen and (max-width: 650px) {
    & {
      margin-bottom: 72px;
    }
  }
}
