@import "../../styles/extends";

.main {
  @extend %main-blocks;
  max-width: 1280px;
  @extend %flex-column;
  gap: 20px;
  min-height: calc(100vh - 153px);


  @media screen and (max-width: 650px) {
    & {
      min-height: calc(100vh - 142px);
    }
  }
}
