@import "../../styles/palette";
@import "../../styles/extends";
@import "../../styles/mixins";

.card {
  @extend %flex-column;
  background-color: $card-background;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: .45s;
  transform: scale(1, 1);
  transform-origin: center center;

  &_deleted {
    transform: scale(0, 0);
  }

  &__img {
    display: block;
    object-position: center;
    object-fit: contain;
    width: 100%;
    aspect-ratio: 3/2;
  }

  &__desc {
    @extend %flex-column;
    gap: 10px;
    padding: 15px;
  }

  &__title {
    @include font($size: 15px);
  }

  &__prop {
    @include font($size: 13px, $color: $lite-gray);
  }

  &__btn-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(225deg, $button-background 0%, $button-background 50%, transparent 50%, transparent 100%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__delete-btn {
    @extend %button;
    width: 35px;
    height: 35px;
    @include background-img($url: "../../assets/images/close-button.svg", $size: 15px);
  }
}
