@import "../../styles/palette";
@import "../../styles/extends";
@import "../../styles/mixins";

.tree-control {
  display: flex;
  align-items: center;
  gap: 10px;
  @extend %link;
  max-width: fit-content;

  &__btn {
    flex-shrink: 0;
    @extend %button;
    background-color: var(--lite-gray);
    width: 16px;
    border-radius: 3px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include background-img($url: '../../assets/images/plus.svg', $size: 10px);

    &_active {
      background-image: url("../../assets/images/minus.svg");
    }
  }

  &__title {
    text-transform: capitalize;
    margin: 0;
    @include font($size: 17px, $line-height: 1.3);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

