@import url(./assets/vendor/normalize.css);
@import url(./assets/fonts/Inter/inter.css);
@import "./styles/palette";
@import "./styles/extends";
@import "./styles/mixins";

html {
  scrollbar-width: thin;
}

body {
  background-color: var(--main-background);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--dark-gray);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--mid-gray);
  }
}

.scroll-blocked {
  overflow: hidden;

  @media screen and (hover: hover) {
    padding-right: 8px;
  }
}

.page {
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
