@import url(./assets/vendor/normalize.css);
@import url(./assets/fonts/Inter/inter.css);
@import "./styles/palette";

body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: $dark-gray;
}
body::-webkit-scrollbar-thumb {
  background-color: $gray;
}

.scroll-blocked {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

.page {
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: $main-gray;
}
